@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url('./Assets/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf');
  font-weight: 400;
  font-size: small;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
  }

  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

@layer components{
  
}

@layer utilities{
  
}